.leaflet-control-layers-list {
    max-height: 195px;
    overflow-y: auto;
  }

.legend {
    position: absolute;
    z-index: 1000; /* Increased z-index */
    bottom: 30px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.legend h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 5px;
}

.opacity-controls {
    position: absolute;
    z-index: 1000; /* Increased z-index */
    bottom: 30px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.opacity-controls label {
    display: block;
    margin-bottom: 5px;
}

.time-controls {
    margin: 10px 0;
  }
  
  #time-input {
    padding: 5px;
    font-size: 14px;
    width: 200px;
  }
  

.popup {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Ensure the map has a lower z-index */
.leaflet-container {
    z-index: 0;
}




.search-form {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    display: flex;
  }
  
  .search-input {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  