.legend {
    position: absolute;
    z-index: 1000; /* Increased z-index */
    bottom: 30px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.legend h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 5px;
}

.opacity-controls {
    position: absolute;
    z-index: 1000; /* Increased z-index */
    bottom: 30px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.opacity-controls label {
    display: block;
    margin-bottom: 5px;
}

.popup {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Ensure the map has a lower z-index */
.leaflet-container {
    z-index: 0;
}
